.categories-bar-cont{
    width: 100vw;
    height: 40px;
    /* margin-top: 50px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(29, 51, 78);
    /* border: 10px solid red; */
}

.cb-nl-cat {
    text-decoration: none;
    color: white;
    padding: 8px;
}

.cb-nl-cat:hover {
    border: 1px solid white;
}
