.create-product-form-cont {
    width: 100vw;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

.product-input-field {
    display: flex;
    flex-direction: column;
}
