.all-products-cont {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-card-div {
    /* border: 1px solid red; */
    display: flex;
    width: 95vw;
    flex-wrap: wrap;
    justify-content: center;
}

.user-products-btn {
    padding: 10px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 5px;
}
