.thank-you-cont {
    width: 95vw;
    margin: 2vw 2.5vw;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ty-header-div {
    display: flex;
    justify-content: center;
    /* width: 95vw; */
    /* border: 1px solid red; */
}

.logo {
    height: 40px;
    width: 40px;
    max-width: 100%;
}

.ty-heading-1 {
    margin: 0px 5px 0px 0px;
}

.ty-heading {
    margin: 0px;
}

.ty-package {
    width: 40vw;
}
